  html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
#map { height: 100%; }

      #floating-panel-search {
        position: absolute;
        top: 5px;
        left: 50%;
        margin-left: -180px;
        width: 350px;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
      }


      #floating-panel-thirdParty {
        position: absolute;
        top: 750px;
        left: 13%;
        margin-left: -180px;
        width: 1500px;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
      }

      .link {
        color: gray;
        text-decoration: none;
       }

      .link:visited {
        color: gray;
       }

      .link:hover {
        text-decoration: underline;
       }

       .imgSmall {
            width : 150px;
            height: 150px;
       }

       .imgBig {
            width: 100%;
       }

       #picture .modal-dialog {
            margin-top: 200px;
            width: 640px;
            height: 480px;
        }
        .hanging-close {
            position: absolute;
            top: -5px;
            right: -12px;
            z-index: 9001;
        }

        .picture-tile {
            margin-bottom: 20px;
            padding-top: 20px;
        }
        .picture-tile:hover {
            background-color: #EEE;
            cursor: pointer;
        }





